@use '../../lib/variables';

.main {
  display: flex;
  gap: 20px;

  .sidebar {
    width: 300px;
    box-shadow: 0 0 5px rgb(236, 235, 235);
    background: variables.$bg_color;
    position: fixed;
  }

  .main_wrapper {
    flex: 1;
    margin-top: 120px;
    padding-bottom: 40px;
  }

  .admin_layout_container {
    // margin-top: 100px;
    padding-bottom: 40px;
    width: 100%;
  }
}
