@use '../../lib/variables';

.product_details_container {
  margin-top: -30px;
  display: flex;
  gap: 20px;

  .product_page_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    width: 100%;

    .filter_box {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
      row-gap: 7px;

      .menu {
        line-height: 0;

        .meun_icon {
          color: variables.$light_text_color;
          cursor: pointer;
        }
      }

      .filter_item {
        font-size: 14px;
        padding: 5px 20px;
        border: 1px dashed rgb(212, 210, 210);
        border-radius: 30px;
        text-transform: capitalize;
        color: variables.$light_text_color2;
        cursor: pointer;
        background: variables.$bg_color;

        &:hover {
          color: variables.$light_text_color;
        }

        &.active {
          background: #007bff11;
          color: variables.$secondary_color;
          border-color: rgba(0, 123, 255, 0.505);
        }
      }
    }

    .products_con {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      width: 100%;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .empty_product {
    display: flex;
    align-items: center;
    column-span: all;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    min-height: 50vh;

    .icon {
      width: 40px;
      opacity: 0.4;
    }

    h2 {
      font-size: 20px;
      padding-top: 5px;
      font-style: italic;
      opacity: 0.4;
    }
  }
}
