@use '../../lib/variables';

.product_details_container {
  .filter_items {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    row-gap: 6px;

    span {
      padding: 7px 20px;
      border: 1px solid rgb(197, 196, 196);
      border-radius: 25px;
      font-size: 14px;
      text-transform: capitalize;
      color: variables.$light_text_color;
      font-weight: 400;
      cursor: pointer;
      transition: 0.4s ease;

      &.active {
        border-color: #046ddd;
        color: #0a63c3;
        background: #007bff14;
      }
    }
  }

  .products_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .detail_box {
      background: variables.$bg_color;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid transparent;
      transition: 0.5s ease;
      height: fit-content;

      &:hover {
        border-color: rgb(163, 163, 163);
      }

      .txt_con {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .txt {
          display: flex;
          align-items: center;
          color: variables.$light_text_color2;
          font-size: 15px;

          .bullet_icon {
            color: variables.$secondary_color;
            transform: translateX(-10px);
            line-height: 0;
            display: none;
          }

          b {
            color: variables.$light_text_color;
          }
        }
      }

      .available_color_con,
      .available_designs_con {
        margin-top: 12px;

        h3 {
          font-size: 15px;
          color: variables.$light_text_color;
        }

        .con {
          display: flex;
          align-items: center;
          gap: 15px;
          row-gap: 5px;
          flex-wrap: wrap;
          font-weight: 600;
          color: variables.$secondary_color;
          padding-top: 3px;
        }
      }

      .btns {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        margin-top: 24px;

        .view_btn {
          height: 50px;
          width: 50px;
          min-height: 50px;
          min-width: 50px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgb(193, 192, 192);
          background: variables.$bg_alt_color;
          color: rgb(39, 39, 39);
          cursor: pointer;

          .eye_icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
