@import '../../lib/variables';

.sidebar_main_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  max-width: 350px;
  background: $bg_color;
  box-shadow: 0 0 10px black;
  z-index: 120;
  width: 100%;
  transition: 0.5s ease;
  transform: translateX(-110%);

  &.active {
    transform: translateX(0);
  }

  .sidebar_header {
    display: flex;
    margin-top: 20px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      gap: 5px;

      .logo_icon {
        height: 30px;
        width: 30px;
      }

      h1 {
        font-size: 20px;
        padding-top: 6px;

        span {
          font-weight: 300;
          color: $primary-color;
        }
      }
    }

    .close_icon_div {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $bg_alt_color;
      border-radius: 5px;
      cursor: pointer;

      &:hover .close_icon {
        fill: $dark_text_color;
      }

      .close_icon {
        fill: $light_text_color;
      }
    }
  }

  .sidebar_links {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    padding: 0 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .link1 {
      color: $light_text_color;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      padding: 20px 10px;
      transition: 0.5s ease;
      text-transform: capitalize;
      cursor: pointer;

      &.active {
        background: $primary-color;
        color: white;
        padding: 20px 25px;

        .bulletList_icon {
          color: white;
        }
        .arrow_icon {
          fill: white;
        }
        .name_sec {
          &:hover {
            color: white;
            transform: translateX(0);
          }
        }
      }

      .name_sec {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: 0.5s ease;

        &:hover {
          transform: translateX(10px);
          color: $dark_text_color;
        }
      }

      .bulletList_icon {
        height: 10px;
        width: 10px;
        color: $light_text_color;
      }

      .arrow_icon {
        height: 25px;
        width: 25px;
        line-height: 0;
        fill: $light_text_color;
        transform: rotate(90deg);
      }
    }

    .subLinks {
      background: $bg_alt_color;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 0;
      overflow: hidden;
      padding: 0;
      transition: 0.4s ease;

      &.active {
        height: fit-content;
        padding: 10px;
      }

      .link2 {
        color: $light_text_color;
        font-weight: 400;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 20px 10px;
        transition: 0.5s ease;
        gap: 10px;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
          margin-left: 10px;
          color: $dark_text_color;
        }

        &.active {
          background: $bg_color;
          color: $primary-color;
          padding: 20px 20px;

          .bulletList_icon {
            color: $primary-color;
          }

          &:hover {
            margin-left: 0;
          }
        }

        .bulletList_icon {
          height: 10px;
          width: 10px;
          color: $light_text_color;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(196, 195, 195);
      border-radius: 20px;
    }
  }
}
