@use '../../../lib/variables';

// OVERLAY STYLE
.overlay_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.822);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  &.active {
    opacity: unset;
    pointer-events: all;
    backdrop-filter: blur(2px);
  }
}

.modal_main_container {
  position: fixed;
  top: 50%;
  left: 50%;
  background: transparent;
  height: 100vh;
  width: 100%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  z-index: 200;
  overflow-y: scroll;
  padding: 100px 0 50px 0;
  display: flex;

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  &.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  .wrapper {
    margin-top: 100px;
    min-height: 300px;
    padding: 20px;
    background: variables.$bg_color;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: auto 0;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }

  .close_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: variables.$bg_alt_color;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      .close_icon {
        fill: variables.$dark_text_color;
      }
    }

    .close_icon {
      fill: variables.$light_text_color;
      width: 20px;
      height: 20px;
    }
  }
}
