@use '../../lib/variables';

.search_modal_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 300;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease;

  &.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  .col_1 {
    background: variables.$bg_color;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 0 15px;
    border: 2px solid variables.$secondary_color;

    input {
      flex: 1;
      background: transparent;
      border: none;
      outline: none;
      caret-color: variables.$secondary_color;
      padding: 18px 0;
    }

    .search_icon {
      color: variables.$light_text_color2;
      height: 20px;
      width: 20px;
      margin-bottom: 1px;
    }

    .close_icon_con {
      display: flex;
      align-items: center;
      justify-content: center;
      background: variables.$bg_alt_color;
      height: 35px;
      width: 35px;
      border-radius: 5px;
      .close_icon {
        fill: variables.$light_text_color2;
        height: 20px;
        width: 20px;
        margin-bottom: 1px;
        transition: 0.4s ease;
        cursor: pointer;
      }

      &:hover {
        .close_icon {
          fill: variables.$primary_color;
        }
      }
    }
  }

  .col_2 {
    background: variables.$bg_color;
    border-radius: 5px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 10px;
      font-size: 15px;
      transition: 0.4s ease;
      cursor: pointer;
      color: variables.$light_text_color2;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.259);
      }

      span {
        width: 30px;
        overflow: hidden;
        display: flex;
        justify-content: right;

        .icon {
          height: 15px;
          width: 15px;
          transform: translateX(15px);
          transition: 0.4s ease;
        }
      }

      &:hover {
        background: variables.$primary_color_alpha;
        color: variables.$dark_text_color;

        span .icon {
          transform: translateX(0);
          color: variables.$primary_color;
        }
      }
    }
  }
}
