@use '.././../lib/variables';

.product_box {
  background: variables.$bg_color;
  border-radius: 5px;
  padding: 20px;
  flex: 1;
  position: relative;
  height: fit-content;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .indicator {
      height: 8px;
      width: 8px;
      background: rgb(5, 193, 5);
      border-radius: 100%;
      box-shadow: 0 0 0 7px rgba(2, 150, 2, 0.184);
      animation: scale 1000ms infinite;
      position: absolute;
      top: 20px;
      right: 50px;

      @keyframes scale {
        0% {
          transform: scale(0.5);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    small {
      padding: 5px 10px;
      background: #007bff0b;
      border: 1px solid variables.$primary_color;
      color: variables.$primary_color;
      font-size: 11px;
      text-transform: capitalize;
      border-radius: 30px;
      margin-bottom: 10px;
    }

    .dropdown_con {
      position: absolute;
      display: flex;
      justify-content: right;
      flex: 1;
      right: 20px;
      top: 20px;

      .wrapper {
        position: relative;
      }

      .dot_menu {
        height: 15px;
        width: 15px;
        cursor: pointer;
      }

      .dropDown {
        background: variables.$bg_color;
        box-shadow: 0 0 5px rgba(128, 128, 128, 0.333);
        border-radius: 3px;
        position: absolute;
        width: fit-content;
        transform: scale(0);
        transition: 0.4s ease;
        right: 0;

        li {
          white-space: nowrap;
          font-size: 15px;
          padding: 5px 10px;
          cursor: pointer;
          transition: 0.4s ease;
          color: variables.$light_text_color;

          &:hover {
            background: variables.$bg_alt_color;
          }

          &:not(:last-child) {
            border-bottom: 1px solid rgba(156, 155, 155, 0.227);
          }
        }

        &.active {
          transform: scale(1);
        }
      }
    }
  }

  .modal_con {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      background: variables.$bg_alt_color;
      border-radius: 5px;
      padding: 10px;
      font-size: 17px;
      font-weight: 900;
      color: variables.$light_text_color;
      min-width: 50px;
      text-align: center;
    }

    font-size: 17px;
    font-weight: 900;
    color: variables.$secondary_color;
  }

  .color_con,
  .designs_con {
    margin-top: 10px;
    h3 {
      font-size: 13px;
      font-weight: 600;
      color: variables.$dark_text_color;
    }

    .box_con {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 2px;

      span {
        font-size: 14px;
        color: variables.$light_text_color;
      }
    }
  }

  .sell_btn {
    background: rgb(22, 22, 22);
    font-size: 15px;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 20px;
    width: 100%;

    &:hover {
      background: black !important;
    }
  }
}
