@use '../../lib/variables';

.admin_wrapper {
  display: flex;
  justify-content: center;

  .admin_container {
    background: variables.$bg_color;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin-top: 40px;

    .bot {
      display: flex;
      justify-content: center;
    }

    h2 {
      font-size: 25px;
      text-align: center;
      margin-top: 10px;
      font-weight: 900;

      span {
        color: variables.$secondary_color;
      }
    }

    .subheader {
      text-align: center;
      font-size: 17px;
      padding-top: 3px;
    }

    .box_con {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-top: 30px;

      .box {
        background: variables.$bg_alt_color;
        border-radius: 10px;
        padding: 20px;
        border: 2px solid transparent;
        transition: 0.4s ease;
        cursor: pointer;
        height: 200px;

        .icon_con {
          height: 70px;
          width: 70px;
          background: variables.$bg_color;
          margin: 0 auto;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: variables.$dark_text_color;
        }

        &:hover {
          border-color: variables.$primary_color;
          background: #007bff0e;
        }

        h4 {
          text-align: center;
          font-size: 17px;
          margin-top: 20px;
          color: variables.$dark_text_color;
        }
        p {
          text-align: center;
          padding-top: 4px;
        }
      }
    }
  }
}
