@use '../../lib/variables';

.left_over_con {
  h1 {
    font-size: 25px;
    text-align: center;
  }

  .sub_header {
    text-align: center;
    color: variables.$light_text_color;
    font-size: 15px;
  }

  .product_container {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: scroll;
    background: variables.$bg_alt_color;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .left_over {
      background: variables.$bg_color;
      padding: 15px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.4s ease;
      border: 2px solid transparent;

      &:hover {
        background: variables.$primary_color_alpha;
        border-color: variables.$primary_color;
      }

      p {
        font-size: 15px;
        color: variables.$light_text_color;
        span {
          color: variables.$primary_color;
        }
      }

      .col {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .con {
        margin-top: 10px;
        h3 {
          font-size: 15px;
        }

        .col {
          margin-top: 5px;
        }
      }
    }
  }

  .btns {
    margin-top: 20px;
    display: flex;
    justify-content: right;

    button {
      width: fit-content;
    }
  }
}
