@use '../../lib/variables';

.Product_details_con {
  h2 {
    font-size: 25px;
    color: variables.$dark_text_color;
    margin-top: 10px;
  }

  .general_info_con {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-weight: 500;
      color: variables.$light_text_color;

      span {
        color: variables.$secondary_color;
      }
    }
  }

  .con {
    margin-top: 20px;

    h3 {
      font-size: 15px;
      padding-bottom: 5px;
    }

    .subProducts_con,
    .subProducts_con {
      display: flex;
      flex-direction: column;
      gap: 7px;

      p {
        font-weight: 500;
        color: variables.$light_text_color;
        font-size: 15px;

        span {
          color: variables.$secondary_color;
        }
      }
    }

    .design_con {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h4 {
        font-size: 14px;
        text-decoration: underline;
        padding-bottom: 5px;

        span {
          color: variables.$primary_color;
        }
      }

      .design_wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }

  .btn {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

    button {
      width: fit-content;
    }
  }
}
