@use '../../lib/variables';

.dasboard_page {
  .wrapper_1 {
    display: flex;
    align-items: center;
    gap: 30px;

    .time_con {
      flex: 1;
      background: variables.$bg_color;
      padding: 30px;
      border-radius: 5px;
      height: 300px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;

      .txt {
        font-size: 15px;
        // color: variables.$light_text_color2;
        color: variables.$primary_color;
      }

      h1 {
        font-size: 50px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        span {
          font-size: 15px;
          color: variables.$primary_color;
        }
      }

      .sub_txt {
        font-size: 15px;
        color: variables.$light_text_color2;
        margin-top: 40px;
        position: relative;
        padding-left: 20px;
        font-style: italic;

        &::before {
          content: '';
          height: 7px;
          width: 7px;
          background: rgb(10, 219, 10);
          border-radius: 50%;
          animation: scale 1s ease infinite;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;

          @keyframes scale {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(1.09);
            }
          }
        }
      }
    }

    .box_con {
      flex: 1.5;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;

      .time_con {
        width: 100%;
      }

      .box_con {
        width: 100%;
      }
    }
  }

  .wrapper_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;

    @media (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
